<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light"
     [ngClass]="{'my-aside-margin' : loginService.userLogged}" id="my-top-nav" style="height: 76px">
    <div class="container-fluid">
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerTop"
                aria-controls="navbarTogglerTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand logo" href="#">
            <img src="./assets/images/logo-med-app.png" style="width: 12%">
            MedApp
        </a>

        <div class="collapse navbar-collapse mt-3" id="navbarTogglerTop">
            <ng-container *ngIf="!loginService.userLogged else isLogged">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link px-3 ms-1 active" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 ms-1" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 ms-1" routerLink="/register">Register</a>
                    </li>
                </ul>
            </ng-container>

            <ng-template #isLogged>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="loginService.userLogged.userType === 'clinic'">
                    <li class="nav-item">
                        {{loginService.userLogged.clinicName}}
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center" *ngIf="loginService.userLogged.userType === 'patient'">
                    <li class="nav-item mx-2">
                        <img class="rounded-circle bg-secondary" src="./assets/images/user-female-avatar-woman.png" alt="image" style="height: 2rem; width: 2rem">
                    </li>
                    <li class="nav-item">
                        {{loginService.userLogged.firstName}} {{loginService.userLogged.lastName}}
                    </li>
                </ul>

                <button class="btn btn-outline-danger mx-5" type="button" (click)="loginService.logout()">Logout</button>
            </ng-template>
        </div>

    </div>
</nav>
