<div class="appointment-page">
    <form class="appointment-form" (ngSubmit)="onSubmit(appointmentForm)" #appointmentForm="ngForm">
        <h1 class="title"> Book appointment to <input class="text-center bg-transparent border-0" [value]="clinicService.clinic.clinicName"
                                                      [ngModel] = "clinicService.clinic.clinicName" name="clinicName"></h1>

        <div class="user-name-code">
            <div>
                <input style="display: none" [value] = "clinicService.clinic.id" [ngModel] = "clinicService.clinic.id" name="clinicId">
                <input style="display: none" [value] = "loginService.userLogged.id" [ngModel] = "loginService.userLogged.id" name="patientId">

                <div>
                    <label for="firstName">First name: </label>
                    <input id="firstName" [value]="loginService.userLogged.firstName" [ngModel]="loginService.userLogged.firstName" name="firstName">
                </div>
                <div>
                    <label for="lastName">Last name: </label>
                    <input id="lastName" [value]="loginService.userLogged.lastName" [ngModel]="loginService.userLogged.lastName" name="lastName">
                </div>
                <div>
                    <label for="cnp">CNP: </label>
                    <input id="cnp" [value]="loginService.userLogged.cnp" [ngModel]="loginService.userLogged.cnp" name="cnp">
                </div>
                <div>
                    <label for="birthday">Date of birth: </label>
                    <input id="birthday" [value]="loginService.userLogged.birthday" [ngModel]="loginService.userLogged.birthday" name="birthday">
                </div>
                <div>
                    <label for="gender">Gender: </label>
                    <input id="gender" [value]="loginService.userLogged.gender" [ngModel]="loginService.userLogged.gender" name="gender">
                </div>
                <div>
                    <label for="phone">Phone: </label>
                    <input id="phone" [value]="loginService.userLogged.phone" [ngModel]="loginService.userLogged.phone" name="phone">
                </div>
                <div>
                    <label for="email">Email: </label>
                    <input id="email" [value]="loginService.userLogged.email" [ngModel]="loginService.userLogged.email" name="email">
                </div>
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr">
                <label for="specialty">Specialty: </label>
                <select [ngModel] = "clinicService.clinic.specialities"  id="specialty" name="specialty">
                    <option disabled>Choose a specialty</option>
                    <option *ngFor="let specialty of clinicService.clinic.specialities" name="specialty">{{specialty.name}}</option>
                </select>

                <label>Date of appointment: </label>
                <input type="date" ngModel name="date">

                <label>Time of appointment: </label>
                <input type="time" ngModel name="time">
            </div>

        </div>

        <input class="submit" type="submit" value="Submit">

        <div *ngIf="appointmentForm.submitted" style="font-size: 2rem; margin: 2rem; position: center">Form submitted!</div>
    </form>
</div>



