<div class="w-100 d-flex flex-column justify-content-center">
    <div class="vertical-chart my-5">
        <ngx-charts-bar-vertical
                [results]="chart"
                [xAxisLabel]="'Category'"
                [legendTitle]="'Chart Legend'"
                [legendPosition]="legendPosition"
                [yAxisLabel]="'Number'"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true"
                [barPadding]="30"
                [gradient]="true">
        </ngx-charts-bar-vertical>
    </div>

<!--    <div class="pie-chart my-5">-->
<!--        <ngx-charts-pie-chart-->
<!--                [results]="chart"-->
<!--                [legend]="true"-->
<!--                [legendTitle]="'Pie Chart Legend'"-->
<!--                [labels]="true" >-->
<!--        </ngx-charts-pie-chart>-->
<!--    </div>-->
</div>