<p>patient-dashboard works!</p>

<p>
    Nu aveti istoric
    Table pacient
</p>

<table>
    <caption>Clinica A</caption>
    <tr style="display: grid; grid-template-columns: 2fr 4fr 4fr 2fr;">
        <th style="border: 1px solid gray">Data</th>
        <th style="border: 1px solid gray">Detalii medic</th>
        <th style="border: 1px solid gray">Scrisoare medicala</th>
        <th style="border: 1px solid gray">Actions (tipareste)</th>
    </tr>

    <tr style="display: grid; grid-template-columns: 2fr 4fr 4fr 2fr;">
        <td style="border: 1px solid gray">Data</td>
        <td style="border: 1px solid gray">Detalii medic</td>
        <td style="border: 1px solid gray">Scrisoare medicala</td>
        <td style="border: 1px solid gray">Actions (tipareste)</td>
    </tr>

    <tr style="display: grid; grid-template-columns: 2fr 4fr 4fr 2fr;">
        <td style="border: 1px solid gray">Data</td>
        <td style="border: 1px solid gray">Detalii medic</td>
        <td style="border: 1px solid gray">Scrisoare medicala</td>
        <td style="border: 1px solid gray">Actions (tipareste)</td>
    </tr>
</table>
