<div class="login-page">
    <form class="login-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <h1 class="logo"> logo </h1>
        <h1 class="title-login"> {{ title }}</h1>

        <div class="user-type">
            <div>
                <label for="patientUser">Patient</label>
                <input id="patientUser" type="radio" name="userType" value="patient" [(ngModel)]="userType">
            </div>
            <div>
                <label for="clinicUser">Clinic</label>
                <input id="clinicUser" type="radio" name="userType" value="clinic" [(ngModel)]="userType">
            </div>
        </div>

        <div class="credentials">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email" ngModel required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel">
            <div *ngIf="!email.valid && email.touched">
                <div *ngIf="email.errors?.required">
                    Email is required.
                </div>
                <div *ngIf="email.errors?.pattern">
                    Email must be of type example@site.com.
                </div>
            </div>

            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password" ngModel required minlength="6" #password="ngModel">
            <div *ngIf="!password.valid && password.touched">
                <div *ngIf="password.errors?.required">
                    Password is required.
                </div>
                <div *ngIf="password.errors?.minlength">
                    Password must be at least 6 characters long.
                </div>
            </div>
        </div>

        <input class="submit" type="submit" value="Register" [disabled]="!loginForm.valid">

        <div class="not-a-member">
            Not a member yet?
            <a routerLink="/register"><b>Register</b></a>
        </div>

        <div class="forgot-password">
            <a routerLink="/forgotPassword">Forgot password?</a>
        </div>
    </form>
</div>
