@media only screen and (max-width: 991px) {

    /*
	Label instead th
	*/
    td:nth-of-type(1):before { content: "Patient name: "; font-weight: bold; }
    td:nth-of-type(2):before { content: "CNP: "; font-weight: bold; }
    td:nth-of-type(3):before { content: "Phone: "; font-weight: bold; }
    td:nth-of-type(4):before { content: "Email: "; font-weight: bold; }


}
