<div class="modal" id="modal">
    <form class="modal-content" (ngSubmit)="onCreate(specialtyForm)" #specialtyForm="ngForm">
        <label for="specialtyName">Specialty name:</label>
        <input id="specialtyName" type="text" name="name" placeholder="Specialty name" ngModel required minlength="3" #specialtyName="ngModel">

        <div *ngIf="!specialtyName.valid && specialtyName.touched">
            <div *ngIf="specialtyName.errors?.required">
                Specialty name is required.
            </div>
            <div *ngIf="specialtyName.errors?.minlength">
                Specialty name must be at least 3 characters long.
            </div>
        </div>

        <label for="specialtyDescription">Specialty description:</label>
        <input id="specialtyDescription" type="text" name="description" placeholder="Specialty description" ngModel required minlength="3" #specialtyDescription="ngModel">

        <div *ngIf="!specialtyDescription.valid && specialtyDescription.touched">
            <div *ngIf="specialtyDescription.errors?.required">
                Specialty description is required.
            </div>
            <div *ngIf="specialtyDescription.errors?.minlength">
                Specialty desscription must be at least 3 characters long.
            </div>
        </div>

        <div class="buttons">
            <input type="submit" value="Create" [disabled]="!specialtyForm.valid">
            <input type="button" value="Close" (click)="modalService.closeModal()">
        </div>

    </form>
</div>
