<p>medical-specialities works!</p>

<h2>Medical specialities:</h2>

<button id="openModal" (click)="modalService.openModal()">Create new</button>

<app-modal [modalOpenMessage]="modalService.modalOpened" *ngIf="modalService.modalOpened"></app-modal>

<label for="search">Search</label>
<input type="text" id="search" name="search" placeholder="Search">

<table>
    <tr>
        <th>Specialty</th>
        <th>Description</th>
        <th>Doctors</th>
        <th>Actions</th>
    </tr>
    <ng-container *ngIf="clinicService.hasSpecialitiesServ(clinicService.clinic)">
        <ng-container *ngFor="let specialty of clinicService.clinic.specialities">
            <tr>
                <td>{{specialty.name}}</td>
                <td>{{specialty.description}}</td>
                <td><button>See doctors</button></td>
                <td><button type="button">Edit</button><button type="button">Delete</button></td>
            </tr>
        </ng-container>
    </ng-container>

<!--    clinica vede tot; pacientul vede primele 3 coloane - adica fara actions-->
<!--    in model clinica - relatii clinica-pacient => adaug proprietate: pacienti [] cu {fiecare pacient al clinicii cu detalii}-->

</table>