/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.my-aside-margin {
    margin-left: 20%;
}

@media only screen and (max-width: 991px) {
    .my-aside-margin {
        margin-left: 0;
    }
}
