<form class="d-flex align-items-center" id="searchForm"
      name="searchForm"
      [formGroup]="searchForm"
      (ngSubmit)="filterByInput(searchForm.controls.search.value)"
        method="post">
<!--    <label for="search">Search</label>-->
    <input type="search"
           id="search"
           name="search"
           class="form-control"
           placeholder="Please enter search term"
           formControlName="search"
            value="">
    <button class="btn btn-primary my-5" type="submit">Search</button>
</form>



