<form class="d-flex align-items-center" id="searchForm"
      name="searchForm"
      [formGroup]="searchForm"
      (ngSubmit)="filterByInput(searchForm.controls.search.value)"
        method="post">
    <input type="search"
           id="search"
           name="search"
           class="form-control"
           formControlName="search"
           [placeholder]="searchService.searchBy(searchService.searchPlaceholder)"
           value="">
    <button class="btn btn-outline-success my-5" type="submit">Search</button>
</form>



