<p class="text-uppercase text-center my-5">descrierea aplicatiei:</p>

<div class="text-center">
    In aplicatie se pot inrola clinici si spitale din Romania,
    punand la dispozitia pacientilor diferite specializari.
</div>

<div>
    <ul class="list-group my-5 text-center">
        <li class="list-title list-group-item text-white">Pacientul are acces la:</li>
        <li class="list-group-item">dashboard;</li>
        <li class="list-group-item">modulul de inregistrare a utilizatorilor;</li>
        <li class="list-group-item">modulul de login;</li>
        <li class="list-group-item">lista de clinici inrolate in aplicatie;</li>
        <li class="list-group-item">modulul de cautare a unei clinici sau a unei programari din lista sa;</li>
        <li class="list-group-item">modulul de gestionare a programarilor (creare, editare sau stergere), la o anumita clinica;</li>
        <li class="list-group-item">lista sa de programari;</li>
    </ul>


    <ul class="list-group my-5 text-center">
        <li class="list-title list-group-item text-white">Clinica are acces la:</li>
        <li class="list-group-item">dashboard;</li>
        <li class="list-group-item">modulul de inregistrare a utilizatorilor;</li>
        <li class="list-group-item">modulul de login;</li>
        <li class="list-group-item">lista de pacienti inrolati in aplicatie care sunt in relatie cu aceasta;</li>
        <li class="list-group-item">modulul de cautare a unui pacient, a unei programari sau a unei specialitati</li>
<!--        <li class="list-group-item">modulul de gestionare a programarilor (creare, editare sau stergere), a unui pacient al sau;</li>-->
        <li class="list-group-item">lista sa de programari;</li>
        <li class="list-group-item">modulul de gestionare a specializarilor unei clinici (creare, editare, stergere);</li>
    </ul>
</div>

<div class="text-muted py-3">
    *Pentru a avea acces in aplicatie, folositi unul din conturile fictive deja create, fie pacient fie clinica,
    sau creati un cont nou, de asemenea acest cont va fi fictiv.
</div>

<div class="fw-bold py-3">
    **In viitorul apropiat, MedApp va permite inrolarea medicilor, gestionarea dosarului electronic de sănătate al pacientului,
    accesarea medicatiei fiecarui pacient, totul doar cu un clic.
</div>
