<p>DESCRIERE APLICATIE</p>
<br>
<div>
    In aplicatie se pot inrola clinici si spitale din Romania,
    punand la dispozitia pacientilor diferite specializari.
</div>
<br>
<div>

</div>
<br>
<div>
    Pacientul are acces la:
    <ul>
        <li>dashboard;</li>
        <li>modulul de inregistrare a utilizatorilor;</li>
        <li>modulul de login;</li>
        <li>lista de clinici inrolate in aplicatie;</li>
        <li>modulul de cautare a unei clinici dupa nume, localitate, specializare;</li>
        <li>modulul de gestionare a programarilor (creare, editare sau stergere), la o anumita clinica;</li>
        <li>lista sa de programari;</li>
    </ul>

    Clinica are acces la:
    <ul>
        <li>dashboard;</li>
        <li>modulul de inregistrare a utilizatorilor;</li>
        <li>modulul de login;</li>
        <li>lista de pacienti inrolati in aplicatie care sunt in relatie cu aceasta;</li>
        <li>modulul de cautare a unui pacient dupa nume, cnp;</li>
        <li>modulul de gestionare a programarilor (creare, editare sau stergere), a unui pacient al sau;</li>
        <li>lista sa de programari;</li>
        <li>modulul de gestionare a specializarilor unei clinici (creare, editare, stergere);</li>
    </ul>
</div>
<br>
<div>
    Pentru a avea acces in aplicatie, folositi unul din conturile fictive deja create, fie pacient fie clinica,
    sau creati un cont nou, de asemenea acest cont va fi fictiv.
</div>

<br>
<br>
<br>
<br>
<br>
<div>
    <b>Pe viitor, MedApp va permite inrolarea medicilor, gestionarea dosarului electronic de sănătate al pacientului;
    accesarea medicatiei fiecarui pacient, totul doar cu un clic.</b>
</div>
