<div>
    <h2 class="text-center my-5">Appointments</h2>

    <div class="my-search w-100">
        <app-search (newSearchEvent)="filterAppointments($event)"></app-search>
    </div>

    <ng-container *ngIf="loginService.userLogged.userType === 'patient'">
        <div>
            <a class="text-decoration-none d-inline-block mb-5 w-100 text-end" routerLink="/clinics"> + Add appointment </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Clinic name</th>
                        <th>Appointment date</th>
                        <th>Appointment time</th>
                        <th>Specialty</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let appointment of appointmentService.allAppointments">
                    <tr  *ngIf="appointment.patientId === loginService.userLogged.id" class="text-center">
                        <td class="patient-td">{{ appointment.clinicName }}</td>
                        <td class="patient-td">{{ appointment.date }}</td>
                        <td class="patient-td">{{ appointment.time }}</td>
                        <td class="patient-td">{{ appointment.specialty }}</td>
                        <td class="patient-td">
                            <button class="btn btn-outline-info px-4 me-2">Edit</button>
                            <button class="btn btn-outline-warning ms-2" (click)="deleteAppointment(appointment)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

    <ng-container *ngIf="loginService.userLogged.userType === 'clinic'">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Patient name</th>
                        <th>CNP</th>
                        <th>Appointment date</th>
                        <th>Appointment time</th>
                        <th>Specialty</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let appointment of appointmentService.allAppointments">
                <tr  *ngIf="appointment.clinicId === loginService.userLogged.id" class="text-center">
                    <td class="clinic-td">{{ appointment.firstName }} {{ appointment.lastName }}</td>
                    <td class="clinic-td">{{ appointment.cnp }}</td>
                    <td class="clinic-td">{{ appointment.date }}</td>
                    <td class="clinic-td">{{ appointment.time }}</td>
                    <td class="clinic-td">{{ appointment.specialty }}</td>
                    <td class="clinic-td">
                        <button class="btn btn-outline-info px-4 me-2">Edit</button>
                        <button class="btn btn-outline-warning ms-2"
                                (click)="deleteAppointment(appointment)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>
